{% extends 'templates/base.html' %}
{% block content %}

    <div class="row g-8 p-4">
        <div class="col-md-6 mx-auto">
            {% for instance in object_list %}
                <a href="{{ instance.get_details_url }}">
                    <li>{{ instance.title }}</li> <li>{{ instance.price }}</li><br/>
                </a>
                    <li>{{ instance.description|truncatechars:10 }}</li><br/>

            {% empty %}
                <li>No product available now!</li>
            {% endfor %}
        </div>
    </div>

{% endblock content %}

